*ci/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
ci/application/logs/*.php
uploads/*
captcha/*
temp/*
*/*/newrelic_agent.log
node_engines/api_sms_handler/newrelic_agent.log
node_engines/blast_dlr_handler/newrelic_agent.log
logs/*

*/*.log
*/*/*.log
*/*/*/*.log

*node_modules/*
*/node_modules/*
*/*/node_modules/*
*/logs/*
*/*/logs/*
*/*/*/logs/*
mean/public/src/js/head.min.js
mean/public/src/js/tail.min.js
mean/public/files/*
mean/client/bower_components-bc
mean/reports/

ci/temp/*
ci/index.php

sqls/*
install.php

node_engines/forked_pb_uploader/app-test.js
node_engines/forked_pb_uploader/app/test.csv

mean/public/libs/*

.DS_Store
install.php
sqls/blasterv3.sql
sqls/blasterv3-kidd.sql
sqls/blasterv3-rd.sql
sqls/blasterv3-rd-cleanup.sql
sqls/insertdata.sql
sqls/install.php
sqls/masterdata.sql
sqls/mysql-views-rd.sql
sqls/triggers.sql
mean/lib
mean/files

mean/config/*
mean/public/src/js/config.js
mean/public/src/js/services.js
mean/server/api/uploader/files/
sftp-config.json
.vagrant
*/*.sublime-workspace
engines/tdr-manager/test/remote2/
engines/tdr-manager/test/remote/
engines/tdr-manager/test/local/
.idea

